# Virtual environment
venv/
env/

# Dataset and processed data (too large for GitHub)
data/



# MLflow tracking data
mlruns/



# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db